/*Variables*/

/* Sizes */
$tags-affix-width: 220px;

$panel-border-radius: 8px;

$media-bootstrap-sm-min: 768px;
$media-bootstrap-sm-max: 991px;
$media-bootstrap-md-min: 992px;
$media-bootstrap-md-max: 1199px;
$media-bootstrap-lg-min: 1200px;

$media-owncss-widedisplay: 1500px;

$footer_height: 100px;
$footer-mobile-height: 280px;


/* Colours */
//current palette is based on http://paletton.com/#uid=33i0z0kv4GQjhMBoYIZFEvdG5o2
$col_text_black: lighten(black, 30);

//everywhere
$col_nice_black: #dddddd;

//body
$col_body_background: white;
$col_body_text: black;

//nav
$col_nav_background: rgba(6, 191, 191, 53.2);
$col_nav_active: rgba(248, 7, 35, 33.2);
$col_nav_hover: rgba(0, 149, 149, 40.9);
$col_nav_active_hover: rgba(255, 179, 7, 71.4);
$col_nav_text: white;
$col_nav_text_active: white;
$col_nav_text_hover: white;

$col_ligth_blue: rgba(14, 201, 190, 0.14);

//sections
$col_header_background: white;
$col_projects_background: white;
$col_team_background: white;
$col_contactus_background: white;

//footer
$col_footer_background: rgb(189, 189, 189);

//blog
$col_blog_header_background: rgba(255, 255, 205, 1);