/*-------------------------------------
      Everything
--------------------------------------*/

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

button.btn.btn-default {
    height: 34px; /* I don't know why, but it only works this way*/
}


/*---------------------------------
  Navbar
---------------------------------*/

nav.navbar {
      background: rgb(14, 201, 190)
}


ul.nav.navbar-nav li a {
      color: white;
}

ul.nav.navbar-nav li.active a {
      color: white;
      background: rgb(242, 78, 78);
}

ul.nav.navbar-nav li.active a:hover {
      color: white;
      background: rgb(228, 46, 139);
}

ul.nav.navbar-nav li a:hover {
      color: white;
      background: rgb(228, 46, 139);
}

#brandText {
      color: white;
      font-family: 'Slabo 27px', serif;
}

#myDropDown[aria-expanded="true"] {
      background: rgb(228, 46, 139);
      color: white;
}

#myDropDown[aria-expanded="false"] {
      color: white;
}

li.dropdown ul.dropdown-menu li a {
      color: black;
}
/*---------------------------------
      Content
 ---------------------------------*/

div#app {
      margin-top: 60px;
      margin-bottom: 130px;
}

/*---------------------------------
  Footer
---------------------------------*/
footer {
  background: rgb(189, 189, 189);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a:hover {
    text-decoration: none;
    font-weight: bold;
}

/* ------------------------------------------------
      Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ------------------------------------------------
      Articles in the Main React Class
-------------------------------------------------- */
#article {
    margin: 5px 0 15px 0;
}

#tags {
    font-weight: bold;
}