@import "normalize";

/*Variables*/

$media-bootstrap-sm-min: 768px;
$media-bootstrap-sm-max: 991px;
$media-bootstrap-md-min: 992px;
$media-bootstrap-md-max: 1199px;
$media-bootstrap-lg-min: 1200px;


/* The body in every page */
body {
  background-color: rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

/*-------------------------------------
      Everything
--------------------------------------*/

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  min-width:400px; /*the minimum size of the body*/
}

button.btn.btn-default {
  height: 34px; /* I don't know why, but it only works this way*/
}

/*-------------------------------------
      Everything - Bootstrap overwrites
--------------------------------------*/
.row {
  margin: 0;
}

/*---------------------------------
  Navbar
---------------------------------*/

nav.navbar {
  background: rgb(14, 201, 190)
}


ul.nav.navbar-nav li a {
  color: white;
}

ul.nav.navbar-nav li.active a {
  color: white;
  background: rgb(242, 78, 78);
}

ul.nav.navbar-nav li.active a:hover {
  color: white;
  background: rgb(228, 46, 139);
}

ul.nav.navbar-nav li a:hover {
  color: white;
  background: rgb(228, 46, 139);
}

#brandText {
  color: white;
  font-family: 'Slabo 27px', serif;
}

#myDropDown[aria-expanded="true"] {
  background: rgb(228, 46, 139);
  color: white;
}

#myDropDown[aria-expanded="false"] {
  color: white;
}

li.dropdown ul.dropdown-menu li a {
  color: black;
}
/*---------------------------------
      Content
 ---------------------------------*/

div#app {
  margin-top: 60px;
  margin-bottom: 130px;
}

/*---------------------------------
  Footer
---------------------------------*/
footer {
  background: rgb(189, 189, 189);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* ------------------------------------------------
      Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ------------------------------------------------
      Articles in the Main React Class
-------------------------------------------------- */
#article {
  margin: 5px 0 15px 0;
}

#tags {
  font-weight: bold;
}

/* ------------------------------------------------
                        About
-------------------------------------------------- */



.projectImageSelector {
  background: yellow;
  padding: 0;
  margin: 0;
  min-width: 240px;

  .projectImageDescriptionList {
    background: royalblue;
    padding: 0;

    .list-group-item {
      height: 83px;
    }

    .active {
      height: 83px;
      background: yellowgreen;
    }

  }

  .projectImage {
    background: deeppink;
    height: 250px;
    padding: 0;
    min-width: 0;

    .projectImageHolder {
      display: block;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      max-height: 100%;
    }

  }
}

/* Members */
.memberName {
  text-align: center;
}

.memberPicture{
  margin: 0 auto;
  padding: 5%;
}

.memberBox{
  padding: 10px 0px 10px 0px;
}

.imageAndText {position: relative;}
.imageAndText .col {position: absolute; z-index: 1; top: 0; left: 0;}

.teamRow {
  background: orangered;
  height: 250px;
  .list-group-item {
    height: 85%;

    img {
      max-height: 75%;
      width: auto;
    }

  }
}

.list-group-item{
  margin-top: auto;
  margin-bottom: auto;
}

//.img-responsive {
//  display: block;
//  width: auto;
//  max-height: 100%;
//}