@import "normalize";

/*Variables*/

$media-bootstrap-sm-min: 768px;
$media-bootstrap-sm-max: 991px;
$media-bootstrap-md-min: 992px;
$media-bootstrap-md-max: 1199px;
$media-bootstrap-lg-min: 1200px;

$footer_height: 100px;

$col_nav_background: rgb(14, 201, 190);
$col_nav_active: rgb(242, 78, 78);
$col_nav_hover: rgb(228, 46, 139);
$col_header_background: white;
$col_footer_background: rgb(189, 189, 189);
$col_ligth_blue: rgba(14, 201, 190, 0.14);
$col_complementer_orange: rgb(228, 46, 139); //#FF7912;

$col_projects_background: #A7FF97;
$col_team_background: #baf8e7;
$col_contactus_background: #a9ff4f;


/* Mixins */

@mixin default-box ($bgcolour) {
  background: $bgcolour;
  padding: 0 10px;
}


/*-------------------------------------
      The body in every page
--------------------------------------*/

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%; /* !!!!! ScrollSpy needs this!!! */
  margin: 0;

  button.btn.btn-default {
    height: 34px; /* Something messes up bootstrap buttons. I don't know what or why, but it only works this way*/
  }

  .row {
    margin: 0;
  }
}

/*-------------------------------------
               Own Styles
--------------------------------------*/

/*---------------------------------
                Navbar
---------------------------------*/

nav.navbar {
  background: $col_nav_background;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.1em;
  //todo: increase the text size for nav

  ul.nav.navbar-nav {
    li {
      a {
        color: white;
      }
      &.active a {
        color: white;
        background: $col_nav_active;
        &:hover {
          color: white;
          background: $col_nav_hover;
        }
      }
      &:hover {
        color: white;
        background: $col_nav_hover;
      }
    }
  }

  /* The mobile menu toggler */

  button.navbar-toggle {

    &:hover {
      background: $col_nav_hover;
    }
    &:focus {
      background: $col_nav_active;
    }
    &[aria-expanded=true] {
      background: $col_nav_active;
    }

    .icon-bar {
      background-color: white;
    }
  }
}

#brandText {
  color: white;
  font-family: 'Slabo 27px', serif;
}

/*#myDropDown[aria-expanded="true"] {
  background: $col_purple;
  color: white;
}

#myDropDown[aria-expanded="false"] {
  color: white;
}

li.dropdown ul.dropdown-menu li a {
  color: black;
}*/

/*---------------------------------
      Content
 ---------------------------------*/

div#reactApp {
  min-height: 100%;
  position: relative;
  background: yellow;
  padding-bottom: $footer_height;
}

/* About Us */

header {

  @include default-box($col_header_background);

  .container {

    padding: 100px 0 50px 0;

    h1 {
      margin-top: 0;
      font-size: 28pt;
    }
    p {
      font-size: 14pt;
      font-weight: 300;
      text-align: justify;
    }
    .more {
      font-size: 13px;
    }

    //on mobile
    @media screen and (max-width: $media-bootstrap-sm-min) {

      padding: 60px 0 50px 0;

      h1 {
        font-size: 16pt;
      }
      p {
        font-size: 12pt;
      }
      .more {
        font-size: 10pt;
      }

    }
  }
}

/* Projects */

section#projects {
  height: 600px;
  background: $col_projects_background;
}

/* Team */

section#team {
  height: 600px;
  background: $col_team_background;
}

/* Contact Us */

section#contactUs {
  height: 600px;
  background: $col_contactus_background;
}

section#blog {

  .container {
    padding: 100px 0 50px 0;

    .panel-body {
      font-size: 14pt;
      font-weight: 300;
      text-align: justify;
    }

  }
}


/*---------------------------------
            Footer
---------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height;
  background: $col_footer_background;
  .container {
    height: $footer_height;
    ul {
      list-style: none;
      padding: 0;
    }
    a:hover {
      text-decoration: none;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
    }
  }
}