@import "normalize";
@import "css3-mixins";

/*Variables*/

$media-bootstrap-sm-min: 768px;
$media-bootstrap-sm-max: 991px;
$media-bootstrap-md-min: 992px;
$media-bootstrap-md-max: 1199px;
$media-bootstrap-lg-min: 1200px;

$media-owncss-widedisplay: 1500px;

$footer_height: 100px;

/* Colours */
//current palette is based on http://paletton.com/#uid=33i0O0kN4DeozLQvOMhNHr-OSln
//body
$col_body_background: white;
$col_body_text: black;

//nav
$col_nav_background: rgba(1, 208, 208, 57);
$col_nav_active: rgba(238, 55, 129, 46);
$col_nav_hover: rgba(255, 199, 0, 75);
$col_nav_text: white;
$col_nav_text_active: white;
$col_nav_text_hover: white;

$col_ligth_blue: rgba(14, 201, 190, 0.14);

//sections
$col_header_background: white;
$col_projects_background: white;
$col_team_background: white;
$col_contactus_background: white;

//footer
$col_footer_background: rgb(189, 189, 189);

/* Mixins */

@mixin default-box($bgcolour) {
  background: $bgcolour;
  padding: 0 10px;
}

@mixin paragraphFont {
  font-size: 14pt;
  font-weight: 300;
  text-align: justify;
}

@mixin noTextSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

@mixin textSelection {
  &::selection {
    background: $col_nav_active;
    color: white;
  }
;
  &::-moz-selection {
    background: $col_nav_active;
    color: white;
  }
}

/*-------------------------------------
      The body in every page
--------------------------------------*/

body {
  background-color: $col_body_background;
  color: $col_body_text;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%; /* !!!!! ScrollSpy needs this!!! */
  margin: 0;

  * {
        @include textSelection;
  }

  button.btn.btn-default {
    height: 34px; /* Something messes up bootstrap buttons. I don't know what or why, but it only works this way*/
  }

  .row {
    margin: 0;
  }
}

/*-------------------------------------
               Own Styles
--------------------------------------*/

/*---------------------------------
                Navbar
---------------------------------*/

nav.navbar {
  background: $col_nav_background;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.1em;
  //todo: increase the text size for nav

  ul.nav.navbar-nav {
    li {
      a {
        color: $col_nav_text;
        font-weight: 500;
        //text-shadow: 0.7px 0.7px black, -0.7px -0.7px black, -0.7px 0.7px black, 0.7px -0.7px black;
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -ms-transition: background 0.5s;
        -o-transition: background 0.5s;
        transition: background 0.5s;
      }
      &.active a {
        color: $col_nav_text_active;
        background: $col_nav_active;
        &:hover {
          color: $col_nav_text_hover;
          background: $col_nav_hover;
        }
      }
      &:hover {
        -webkit-transition: background 0.5s;
        -moz-transition: background 0.5s;
        -ms-transition: background 0.5s;
        -o-transition: background 0.5s;
        transition: background 0.5s;
        color: $col_nav_text_hover;
        background: $col_nav_hover;
      }
    }
  }

  /* The mobile menu toggler */

  button.navbar-toggle {

    &:hover {
      background: $col_nav_hover;
    }
    &:focus {
      background: $col_nav_active;
    }
    &[aria-expanded=true] {
      background: $col_nav_active;
    }

    .icon-bar {
      background-color: white;
    }
  }
}

#brandText {
  color: white;
  font-family: 'Slabo 27px', serif;
}

/*#myDropDown[aria-expanded="true"] {
  background: $col_purple;
  color: white;
}

#myDropDown[aria-expanded="false"] {
  color: white;
}

li.dropdown ul.dropdown-menu li a {
  color: black;
}*/

/*---------------------------------
      Content
 ---------------------------------*/

div#reactApp {
  min-height: 100%;
  position: relative;
  padding-bottom: $footer_height;
}

/* About Us */

header {

  @include default-box($col_header_background);

  .container {

    padding: 100px 0 50px 0;

    h1 {
      margin-top: 0;
      font-size: 28pt;
    }
    p {
      font-size: 14pt;
      font-weight: 300;
      text-align: justify;
    }
    .more {
      font-size: 13px;
    }

    //on mobile
    @media screen and (max-width: $media-bootstrap-sm-min) {

      padding: 60px 0 50px 0;

      h1 {
        font-size: 16pt;
      }
      p {
        font-size: 12pt;
      }
      .more {
        font-size: 10pt;
      }

    }
  }
}

/* Projects */
$projectImageWidth: 200px;

section#projects {
  //height: 600px;
  background: $col_projects_background;
  .projectList {
    padding: 20px 0 50px 0;
    div.projectCol {
      a {
        text-decoration: none;
        color: black;

        margin-right: auto;
        margin-left: auto;

        // images are positiond to the middle of their containers
        img.projectImage {
          margin-right: auto;
          margin-left: auto;
        }

        // images for mobile and small screens
        #embeddedListImg {
          content: url("https://placehold.it/200x200");
        }
        #iotListImg {
          content: url("https://placehold.it/200x200");
        }
        #webAppListImg {
          content: url("https://placehold.it/200x200");
        }

        // different image sizes for different media
        @media screen and (min-width: $media-bootstrap-md-min) {
          #embeddedListImg {
            content: url("https://placehold.it/325x325");
          }
          #iotListImg {
            content: url("https://placehold.it/325x325");
          }
          #webAppListImg {
            content: url("https://placehold.it/325x325");
          }
        }

        div.caption {
          .caption-content {
            padding-top: 20px;
            font-size: 14pt;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}

//Project Modals:
.modal-dialog {
  //on mobiles and very small screens the modal takes up all the space

  //ob laptop screens and smaller displays
  @media (min-width: $media-bootstrap-sm-min) {
    width: 80%;
  }
  // on big displays
  @media (min-width: $media-bootstrap-lg-min) {
    width: 70%;
  }
  // for very wide displays
  @media (min-width: $media-owncss-widedisplay) {
    width: 55%;
  }

  .modal-content {
    .modal-header {
      .modal-title {
        font-size: 20pt;
        font-weight: 600;
        text-align: center;
      }
    }
    .modal-body {
      @include paragraphFont;
      position: relative;
      img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
      }
    }
    .modal-footer {

    }
  }
}

/* Team */

section#team {
  margin: 50px 0px;
  .teamButtons {
    margin-bottom: 25px;
  }
  .collapse {
  }
  background: $col_team_background;

  div.memberCol {
    a {
      text-decoration: none;
      color: black;

      margin-right: auto;
      margin-left: auto;

      // images are positiond to the middle of their containers
      img.teamPi {
        margin-right: auto;
        margin-left: auto;
      }

      // images for mobile and small screens
      .teamPicture {
        margin-right: auto;
        margin-left: auto;
        content: url("https://placehold.it/200x200");
      }
      @media screen and (min-width: $media-bootstrap-md-min) {
        .teamPicture {
          content: url("https://placehold.it/325x325");
        }
      }

      div.caption {
        .caption-content {
          padding-top: 20px;
          font-size: 14pt;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

//collapses for the team members
.teamCollapse {
  .well {
    h1 {
      font-weight: 500;
    }
    .teamCollapseChildren {
      @include paragraphFont;
    }
  }
}

/* Contact Us */

section#contactUs {
  background: $col_contactus_background;
  padding-bottom: 50px;
}

section#blog {

  .container {
    padding: 100px 0 50px 0;

    .blogpost {

      .panel-heading {
        .postAuthor {

        }

        .postDate {

        }

      }

      .panel-body {
        font-size: 14pt;
        font-weight: 300;
        text-align: justify;
      }

      .panel-footer {
      }

    }

  }
}

/*---------------------------------
            Footer
---------------------------------*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: $footer_height; //this can't be set because the page breaks
  background: $col_footer_background;
  .container {
    height: $footer_height;
    ul {
      list-style: none;
      padding: 0;
    }
    a:hover {
      text-decoration: none;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
    }
  }
}